@tailwind base;
@tailwind components;
@tailwind utilities;

//pallete of colors 
$black: #010100;
$white: #fffefe;

/* 
    -- 
        Define global , 
        structural styles for project:
        (width and height for all views, colors and background colors) 
    --
*/

#home__section {
    background-color: $white;
    color: $black;
    height: 70vh;
    width: 100vw;

    //menu section slide
    .slide {
        font-weight: 350;
        background-color: $white;
        font-size: 22vw;
        letter-spacing: 3px;
    }

    .h1__title {
        
        margin: 5% 0 0 10%;
        font-size: 20px;
        font-weight: 600;
        overflow: hidden;
        /* Ensures the content is not revealed until the animation */
        border-right: .15em solid orange;
        /* The typwriter cursor */
        white-space: nowrap;
        /* Keeps the content on a single line */
        //margin: 0 auto;
        /* Gives that scrolling effect as the typing happens */
        letter-spacing: .15em;
        /* Adjust as needed */
        animation:
            typing 3.5s steps(40, end),
            blink-caret .75s step-end infinite;
    }

    /* The typing effect */
    @keyframes typing {
        from {
            width: 0
        }

        to {
            width: 70%
        }
    }

    /* The typewriter cursor effect */
    @keyframes blink-caret {

        from,
        to {
            border-color: transparent
        }

        50% {
            border-color: rgb(255, 255, 255);
        }
    }

}

#about {
    color: $white;
    background-color: $black;
    height: 25vh;
    width: 100vw;
}

#projects {
    background-color: $white;
    color: $black;
    height: 70vh;
    width: 100vw;
}

#lets-talk {
    background-color: $black;
    color: $white;
    height: 20vh;
    width: 100vw;
}

#footer {
    background-color: $white;
    color: $black;
    height: 30vh;
    width: 100vw;
}